.env
__pycache__
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/
.ipynb_checkpoints/
ClasesApi/__pycache

# Entornos
.venv/
venv/
.env/
.env.*/
NasaSpaceAppsFront/.vs/NasaSpaceAppsFront/FileContentIndex/e0528a97-5c5c-48de-bb6d-4db885d22e92.vsidx
NasaSpaceAppsFront/.vs/NasaSpaceAppsFront/CopilotIndices/17.14.734.62261/CodeChunks.db
/NasaSpaceAppsFront/.vs/NasaSpaceAppsFront/CopilotIndices/17.14.734.62261
/NasaSpaceAppsFront/.vs/NasaSpaceAppsFront/FileContentIndex
/NasaSpaceAppsFront/.vs/NasaSpaceAppsFront/CopilotIndices
