.env
__pycache__
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/
.ipynb_checkpoints/
ClasesApi/__pycache
bin/
*/bin
bin/*

# Entornos
.venv/
venv/
.env/
.env.*/
/NasaSpaceAppsFront/.vs/NasaSpaceAppsFront
